@import "tailwindcss";

body {
  margin: 0;
  background-color: #f9fafb;
  color: #111827;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
